<table class="form-table" summary="Post form fields">
  <tr>
    <th>Title</th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th>Body</th>
    <td><%= f.text_area(:body) %></td>
  </tr>
  <tr>
    <th>Liked</th>
    <td><%= f.check_box(:liked) %></td>
  </tr>
  <tr>
    <th>Category</th>
    <td><%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "Select a category") %></td>
  </tr>
</table>
