<%= link_to('Back to List', posts_path, class: 'back-link') %>

<div class="model edit">
  <h2>Edit Post</h2>

  <%= form_for(@post) do |f| %>

    <%= render(partial: "form", locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit Post", class: 'action edit') %>
    </div>

  <% end %>
</div>
